*{
  box-sizing: border-box;
}

body{
margin:0 auto;
  width:800px;
  background-color:red;
}

.App {
  text-align: center;
  margin:0 auto;
  display:block;
  width:700px;
  background-color:white;
  padding:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainlogo{
  width:200px;
  height:200px;
  display:block;
}

input{
  padding:6px;
  border-bottom:solid 3px #3D8B57;
  border-width:0px 0px 3px 0px;
  display:block;
}

input.button{

}
